/* css for the splash screen*/

.splash-screen {
    width: 100vw;
    height: 100vh;

    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.splash-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
.splash-logo {
    width: 121px;
    height: 121px;

    object-fit: contain;

    opacity: 0;

    animation:
        logoFadeIn 2s ease forwards,
        logoRotate 15s linear infinite;
}


/* CourseVault title */
.splash-title {
    margin-top: 15px;

    color: #000000;

    font-family: "Lucida Fax", serif;
    font-size: 40px;
    font-weight: bold;

    min-height: 48px;

    animation: titleFade 3s ease-in-out infinite;
}


/* Logo fade in */
@keyframes logoFadeIn {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}


/* Logo rotation */
@keyframes logoRotate {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}


/* Title fade in/out */
@keyframes titleFade {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}